<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WebDrink!</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/app/app.js"></script>
    <script type="text/javascript" src="js/app/machines.js"></script>
    <script type="text/javascript" src="js/app/drops.js"></script>
    <script type="text/javascript" src="js/app/settings.js"></script>

    {% if drinkadmin %}
        <script type="text/javascript" src="js/admin/users.js"></script>
        <script type="text/javascript" src="js/admin/items.js"></script>
        <script type="text/javascript" src="js/admin/temps.js"></script>
        <script type="text/javascript" src="js/admin/logs.js"></script>
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://s3.csh.rit.edu/csh-material-bootstrap/4.0.0/dist/csh-material-bootstrap.min.css" media="screen">

    <style>
        .container {
            padding-top: 15px
        }
    </style>

</head>

<body>

<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">WebDrink</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
            {% if drinkadmin %}
                <li class="nav-item">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                                Admin<span class="caret"></span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/users">Users</a>
                                <a class="dropdown-item" href="/items">Items</a>
                                <a class="dropdown-item" href="/temps">Temps</a>
                                <a class="dropdown-item" href="/logs">Logs</a>
                            </div>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item navbar-user dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" id="{{ username }}">
                    <img src="https://profiles.csh.rit.edu/user/{{ username }}">
                    {{ username }} ({{ credits }} credits)
                </a>
            </li>
        </ul>
    </div>
</nav>


<!-- Page Content -->
<div class="container">
    <div class="row">
        {% for machine in machines %}
            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ machine.display_name }}</h3>
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <th>Item</th>
                                <th>Price</th>
                                <th class="actions">Actions</th>
                            </tr>
                            {% for slot in machine.slots %}
                                <tr>
                                    <td>{{ slot.name }}</td>
                                    <td>{{ slot.price }}</td>

                                    <td>
                                        <button type="button" class="btn btn-primary btn-drop"
                                                data-machineid="{{ machine.machine_id }}"
                                                data-machinename="{{ machine.display_name }}"
                                                data-slot="{{ slot.slot }}"
                                                data-itemname="{{ slot.name }}" {{ slot.enabled and (slot.available > 0) ? '' : 'disabled' }}>
                                            Drop
                                        </button>
                                        {% if drinkadmin %}
                                            <button type="button" class="btn btn-info" data-toggle="modal"
                                                    data-target="#editSlotModal">EDIT
                                            </button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}

                        </table>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<div class="modal fade" id="dropModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Drop confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">Are you sure you want to drop <span id="itemname"></span> from <span id="machinename"></span>?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="dropLad">Drop!</button>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    var ibutton = '{{ ibutton }}';
    var machineid;
    var slot;

    $(document).ready(function () {
        $(".btn-drop").on("click", function () {
            var button = $(this);
            var machine = button.data('machinename');
            machineid = button.data('machineid');
            slot = button.data('slot');
            var name = button.data('itemname');
            var modal = $(this);
            modal.find('.modal-body #itemname').text(name);
            modal.find('.modal-body #machinename').text(machine);
            $("#dropModal").modal('show');
        });

        $("#dropLad").on("click", function () {
            $.ajax({
                url: "https://drinkapi.csh.rit.edu/v2/drops/drop/" + ibutton + "/" + machineid + "/" + slot + "/0",
                data: {"api_key": "9f67fdd194e65aac"},
                dataType: 'jsonp',
                crossDomain: true,
                success: function (data) {console.log({"ibutton": ibutton, "machineid": machineid, "slot": slot, "data": data});}
            });
        });
    });

</script>

</html>
