<!DOCTYPE HTML>
<html lang="en-us">
<head>
    <title>WebDrink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://s3.csh.rit.edu/csh-material-bootstrap/4.0.0/dist/csh-material-bootstrap.min.css" media="screen">

</head>
<body>
<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="navitem"><a href="">Machines</a></li>
            <li class="navitem"><a href="">Settings</a></li>
            {% if drinkadmin %}
                <li class="navitem"><a href="">Admin</a>
                    <ul class="dropdown-menu">
                        <li><a class="navitem" href="/users">Users</a></li>
                        <li><a class="navitem" href="/items">Items</a></li>
                        <li><a class="navitem" href="/temps">Temps</a></li>
                        <li><a class="navitem" href="/logs">Logs</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navitem">
                <a href="/drops">
                    {{ username }} Credits
                </a>
            </li>
        </ul>
    </div>
    {% for machine in machines %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ machine.display_name }}</h3>
            </div>
            <table class="table table-striped">
                <tr><th>Item</th><th>Price</th><th class="actions">Actions</th>
                {% for slot in machine.slots %}
                <tr {{ slot.enabled ? 'disabled' : }} >
                    <td class="item">{{ slot.name }}</td>
                    <td class="price">{{ slot.price }}</td>
                    <td class="">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectModal" {{ ((slot.status === 'disabled') || (slot.available === 0) || (credits < slot.price)) ? 'disabled' : }}>
                            Drop
                        </button>
                        {% if drinkadmin %}
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editSlotModal">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
    </div>
</header>
</body>
</html>