{% extends "index.twig" %}
{% block machines %}

{% for machine in machines %}
<div class="col-md">
    <div class="card">
        <div class="card-body">
            <div class="panel-heading">
                <h3 class="panel-title">{{ machine.display_name }}</h3>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th class="actions">Actions</th>
                <tr class={{ slot.enabled ? 'enabled' : 'disabled' }} >
                    {% for slot in machine.slots %}
                    <td>{{ slot.name  }}</td>
                    <td>{{ slot.price }}</td>

                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectModal" {{ (slot.status === 'disabled') || (slot.available === 0) || (credits < slot.price)) ? 'disabled' : }}>Drop</button>
                        {% if drinkadmin %}
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editSlotModal">EDIT</button>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            </table>

        </div>
    </div>
</div>
{% endfor %}
{% endblock %}